<h1>Stupid Coaching</h1>


<div class="container_answer">
  <h2><%= @question %></h2>
  <p class="p_coach"><%= @answer %></p>
</div>


<p class="link_ask"><strong> <%= link_to'Ask a new question', ask_path %></strong> </p>



